a {
  color: white;
  text-decoration: none; /* no underline */
}

a:hover {
  font-size: 50px;
}

.pinches {
  height: 100px;
  width: 100px;
}

.restaurant-pic {
  height: 833px;
  width: 1110px;
}
